/* shared style */
* {
    font-family: Work Sans;
}

.banner-title-two {
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.small-text {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}

.btn-primary {
    padding: 21px 40px;
    background: #ff42a5;
    border-radius: 48px;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

.btn-2 {
    background: #4EC5F7;
    margin-left: 24px;
}

/* header style */

/* nav style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 15rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo img {
    width: 80px;
    height: 40px;
}

.logo h3 {
    font-size: 2.5rem;
    font-weight: 700;
}

.logo span {
    color: #ff42a5;
}

nav>ul {
    display: flex;
    align-items: center;
}

.follow-us-logo {
    display: flex;
    margin-right: 20px;
    gap: 10px;
    width: 33px;
    height: 24px;
}

#follow-us {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 240px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

nav li {
    list-style: none;
    margin-left: 30px;
    font-weight: 500;
    font-size: 1rem;
    color: #3C354F;
}

nav li a {
    text-decoration: none;
}

/* banner style */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url('../images/Group 14.png');
    background-repeat: no-repeat;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    margin: 0 15rem;
}

.banner img {
    width: 700px;
    height: 670px;
}

.banner-title-one {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}


/* we-are-gamer section style */
.we-are-gamer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 15rem;
}

.we-are-gamer-img {
    width: 900px;
    height: 500px;
}

.we-are-gamer-content {
    text-align: right;
}

.we-are-gamer-title {
    font-size: 3rem;
    font-weight: 700;
}

.we-are-gamer-text {
    width: 530px;
    height: 120px;
}

.we-are-gamer-text-1 {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;

}

.we-are-gamer-text-1 span {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}

/* online game style */
.online-game-text {
    text-align: center;
}

.online-game-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0;
}

.online-game-title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}







/* responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
        width: 150vw;
        margin-left: 250px;

        /* display: flex;
        justify-content: center; */
    }

    /* .nav-title {
        justify-content: center;
    } */
    nav {
        margin: auto;
        justify-content: center;
    }

    nav ul {
        padding: 0;
    }

    nav li {
        margin-top: 20px;
    }

    /* flex-direction */
    nav,
    nav>ul {
        flex-direction: column;
    }

    /* banner */
    .banner,
    .we-are-gamer {
        flex-direction: column-reverse;
    }

    .banner-content {
        justify-content: center;
        margin: 200px;
    }

    .banner-title-one {
        width: 200%;
    }

    .btn-1 {
        margin: 10px 0 20px 100px;
    }

    .btn-2 {
        margin: 0 0 20px 80px;
    }

    /* we-are-gamer */
    .we-are-gamer {
        margin-left: 400px;
        padding-left: 150px;
    }
    .we-are-gamer-content {
        text-align: center;
        /* margin-left: 220px; */
    }
        
    



    /* tablet or medium devices */
    @media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 5 0px;
    }

    /* flex-direction very *** */
    nav,
    .features,
    .teams-container,
    .sponsors-img-container {
        flex-direction: column;
    }
}